<div class="page-header">
  <h1><div gravatar email="{{contact.email}}" size="50" class="img-circle"></div> {{contact.name}}</h1>
</div>
<div class="form-horizontal">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-8">
          <p class="form-control-static" editable='contact.name' field-type='name'></p>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <p class="form-control-static" editable='contact.phone' field-type='phone'></p>
        </div>
      </div>
      <div class="form-group">
        <label for="adress" class="col-sm-4 control-label">Address</label>
        <div class="col-sm-8">
          <p class="form-control-static" editable='contact.adress' field-type='textarea'></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="email" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <p class="form-control-static" editable='contact.email' field-type='email'></p>
        </div>
      </div>
      <div class="form-group">
        <label for="website" class="col-sm-4 control-label">Website</label>
        <div class="col-sm-8">
          <p class="form-control-static" editable='contact.website' field-type='website'></p>
        </div>
      </div>
      <div class="form-group">
        <label for="note" class="col-sm-4 control-label">Notes</label>
        <div class="col-sm-8">
          <p class="form-control-static" editable='contact.note' field-type='textarea'></p>
        </div>
      </div>
    </div>
  </div>
</div>
